@model IEnumerable<MVC_API_Test.Models.APIUser>

@{
    ViewData["Title"] = "DisplayUsers";
}

<h1>Display Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tbody>

        @foreach (var item in Model) {
            <tr>
                <div class="card" style="width: 18rem;">
                    <img src="@Html.DisplayFor(modelItem => item.avatar)" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.first_name) 
                            @Html.DisplayFor(modelItem => item.last_name)
                        </h5>
                        @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            User ID: 
                            @Html.DisplayFor(modelItem => item.id)
                        </li>
                        <li class="list-group-item">
                            Email: 
                            @Html.DisplayFor(modelItem => item.email)
                        </li>
                        @*<li class="list-group-item">Vestibulum at eros</li>*@
                    </ul>
                    <div class="card-body">
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            @*            <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>*@
                    </div>
                </div>
            </tr>
        }

    </tbody>
</table>
